.App {
  font-family: sans-serif;
  text-align: center;
}
.block {
  display: inline;
  width: 50%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
